---
import { Comment } from 'astro-pure/advanced'
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'hobbies', text: 'Hobbies' },
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'gossips', text: 'Gossips' },
  { depth: 2, slug: 'about-blog', text: 'About Blog' }
]
---

<PageLayout title='About' {headings} info='/about'>
  <p>Software Engineer / Developer / Car Enthusiast</p>
  <p>
    Currently working at <a href='https://yuansuan.com/' target='_blank'>Yuansuan</a> as a full-stack
    intern. Skilled in both frontend and backend development, with a strong focus on web technologies.
    Passionate about building efficient and user-friendly applications.
  </p>
  <!--<Button title='Sponsor Me' class='w-fit' href='/projects#sponsorship' style='ahead' />-->

  {/* general-talk */}
  <h2 id='hobbies'>Hobbies</h2>
  <ul>
    <li><span class='font-bold'>Coding: </span>Love coding and building stuff.</li>
    <li>
      <span class='font-bold'>Cars: </span>Passionate about cars and racing. EVs are excluded for
      sure.
    </li>
    <li>
      <span class='font-bold'>Music: </span>A wide variety of music types. Mostly English. Usually
      use Spotify and YouTube Music.
    </li>
    <li>
      <span class='font-bold'>Gaming: </span>GTA5/OL, Sim racing (Assetto Corsa, Forza Horizon,
      etc), ATS, SnowRunner. Mostly car related. Got a Fanatec DD2 base and a 918 RSR wheel.
    </li>
  </ul>

  {/* tools */}
  <h2 id='tools'>Tools</h2>
  <p>I use these a lot:</p>
  <ToolSection
    class='mb-5'
    title='Productivity'
    tools={[
      {
        name: 'Chrome',
        description: 'Browser',
        href: 'https://www.google.com/chrome/',
        icon: import('@/assets/icons/chrome.svg?raw')
      },
      {
        name: 'Notion',
        description: 'Note Taking',
        href: 'https://www.notion.com/',
        icon: import('@/assets/icons/notion.svg?raw')
      },
      {
        name: 'ChatGPT',
        description: 'AI',
        href: 'https://chatgpt.com/',
        icon: import('@/assets/icons/chatgpt.svg?raw')
      },
      {
        name: 'Grok',
        description: 'AI',
        href: 'https://grok.com/',
        icon: import('@/assets/icons/grok.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'Jetbrains',
        description: 'Everything Jetbrains',
        href: 'https://jetbrains.com/',
        icon: import('@/assets/icons/jetbrains.svg?raw')
      },
      {
        name: 'Neovim',
        description: 'Editor / IDE?',
        href: 'https://neovim.io/',
        icon: import('@/assets/icons/neovim.svg?raw')
      },
      {
        name: 'Xcode',
        description: 'Apple ecosystem',
        href: 'https://developer.apple.com/xcode/',
        icon: import('@/assets/icons/xcode.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Environment'
    tools={[
      {
        name: 'MacOS (Always latest)',
        description: 'MacBook Pro M1',
        href: 'https://www.apple.com/macos/',
        icon: import('@/assets/icons/apple.svg?raw')
      },
      {
        name: 'Windows 10',
        description: 'Custom Desktop PC',
        href: 'https://www.microsoft.com/zh-cn/windows/',
        icon: import('@/assets/icons/windows10.svg?raw')
      },
      {
        name: 'Debian 12.7',
        description: 'Cloud server',
        href: 'https://www.debian.org/',
        icon: import('@/assets/icons/debian.svg?raw')
      }
    ]}
  />

  {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <p>
    You can find me everywhere online by username <span class='font-bold'>Charles Stark</span>,
    unless I don't want you to.
  </p>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/Charles-Stark',
        text: 'followers',
        api: 'github/Charles-Stark'
      },
      {
        platform: 'Telegram',
        icon: 'telegram',
        color: '#2ca5e0',
        link: 'https://t.me/charles_stark',
        text: 'subscribers',
        api: 'telegram/charles_stark'
      },
      {
        platform: 'X',
        icon: 'x',
        link: 'https://x.com/charlesstark_',
        text: 'followers',
        api: 'twitter/charlesstark_'
      }
    ]}
  />

  {/* gossips */}
  <!--<h2 id='gossips'>Gossips</h2>-->
  <!--<Collapse title=''>later</Collapse>-->

  {/* about-blog */}
  <h2 id='about-blog'>About Blog</h2>
  <p>Website history:</p>
  <Timeline
    events={[
      {
        date: '2025-03-30',
        content: 'Deployed to Cloudflare Pages for the first time'
      },
      {
        date: '2025-03-28',
        content:
          'Forked from <a href="https://github.com/cworld1/astro-theme-pure" target="_blank">Astro Theme Pure</a> and started tweaking'
      }
    ]}
  />
  <p>
    The smooth operation and personalized customization of website also rely on the resources and
    technical support provided by the following excellent projects/service providers:
  </p>
  <ul>
    <li>
      Domain: <a href='https://www.cloudflare.com/products/registrar/' target='_blank'
        >Cloudflare Registrar</a
      >
    </li>
    <li>
      Framework & Theme: <a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'>Astro Theme Pure</a
      >
    </li>
    <li>
      Site hosting: <a href='https://pages.cloudflare.com/' target='_blank'>Cloudflare Pages</a>
    </li>
    <li>
      CI/CD: <a href='https://workers.cloudflare.com/' target='_blank'>Cloudflare Workers</a>
    </li>
    <li>Comment system: <a href='https://waline.js.org' target='_blank'>Waline</a></li>
    <li>
      Visits: <a href='https://supabase.com/' target='_blank'>Supabase</a> +
      <a href='https://waline.js.org/' target='_blank'>Waline</a>
    </li>
    <li>
      Other statistics: <a href='https://github.com/spencerwooo/substats' target='_blank'
        >Substats</a
      >
    </li>
  </ul>
  <Comment slot='bottom' />
</PageLayout>
